body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.search-container {
    margin: 50px auto;
    width: 500px;
    text-align: center;
    position: relative;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    z-index: 1;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    position: absolute;
    top: 100%; /* Adjust according to search box height */
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 2px solid #ccc;
    border-top: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Ensure the results are above the search box */
    max-height: 400px; /* Adjust max height as needed */
    box-sizing: border-box;
    display: none;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f9f9f9;
}

.search-results:not(:empty) {
    display: block;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
    display: inline-block;
    flex-direction: column;
}   
  
.box h3, h4, .box p, a {
    margin: 0;
}

.box .team-info {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}
  
.box .team-info h3 {
    width: 60px; /* Adjust width as needed */
}

.box .team-info p {
    padding: 0 10px;
}

.box .team-info:nth-child(2) a:last-child {
    visibility: hidden;
}

.box .quarter-scoring {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

.box .quarter-scoring p {
    padding: 3px 10px;
}
.box .quarter-scoring h4 {
    width: 60px; /* Adjust width as needed */
}