<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Website Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    
    <div class="search-container">
        <input type="text" class="search-box" id="search-bar" placeholder="Search for Players">
        <ul class="search-results" id="searchResults"></ul>
    </div>

    <div id="search-results"></div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <div class=" Yesterday's Games"> 
        

    </div>
</body>
</html>
