<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Website Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    
    <div class="search-container">
        <input type="text" class="search-box" id="search-bar" placeholder="Search for Players">
        <ul class="search-results" id="searchResults"></ul>
    </div>

    <div id="search-results"></div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <div class="prev_next_dates">
      <a href = "" class="button2_y"> Yesterday </a>
      <a href = "" class="button2_t"> Tomorrow </a>
    </div>

    <div class="yesterday-games"> 
        <h2> {{count}} Games  On {{date}} </h2>
        {% for result in results %}
        <div class="box">
            <div class="team-info">
                <h3>{{ result.team1 }}</h3>
                <p> {{ result.team1_score }}</p> 
                <a href = "/gameInfo/{{result.team1}}vs{{result.team2}}/{{date}}">{{ result.outcome }} </a> 
            </div>
            <div class="team-info">
                <h3>{{ result.team2 }}</h3> 
                <p>{{ result.team2_score }}</p> 
                <a>{{ result.outcome }}</a>
            </div>
            <hr>
            <div class="quarter-scoring">
              <h4> </h4>
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              {% if result.team1_ot1_scoring is not none %}
              <p>OT</p>
              {% endif %}
              {% if result.team1_ot2_scoring is not none %}
              <p>2OT</p>
              {% endif %}
            </div>
            <div class="quarter-scoring">
              <h4>{{ result.team1 }}</h4>
              <p>{{ result.team1_q1_scoring }}</p>
              <p>{{ result.team1_q2_scoring }}</p>
              <p>{{ result.team1_q3_scoring }}</p>
              <p>{{ result.team1_q4_scoring }}</p>
              {% if result.team1_ot1_scoring is not none %}
              <p>{{ result.team1_ot1_scoring }}</p>
              {% endif %}
              {% if result.team1_ot2_scoring is not none %}
              <p>{{ result.team1_ot2_scoring }}</p>
              {% endif %}
            </div>
            <div class="quarter-scoring">
              <h4>{{ result.team2 }}</h4>
              <p>{{ result.team2_q1_scoring }}</p>
              <p>{{ result.team2_q2_scoring }}</p>
              <p>{{ result.team2_q3_scoring }}</p>
              <p>{{ result.team2_q4_scoring }}</p>
              {% if result.team2_ot1_scoring is not none %}
              <p>{{ result.team2_ot1_scoring }}</p>
              {% endif %}
              {% if result.team2_ot2_scoring is not none %}
              <p>{{ result.team2_ot2_scoring }}</p>
              {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var url = window.location.href;
        var currentDate = url.split("/").pop(); // Get the last part of the URL as the current date (e.g., "2024-03-20")
        // Get the elements with class "button2_y" and "button2_t"
        var yesterdayButton = document.querySelector(".button2_y");
        var tomorrowButton = document.querySelector(".button2_t");

        // Calculate the date for yesterday and tomorrow
        var yesterdayDate = new Date(currentDate);
        yesterdayDate.setDate(yesterdayDate.getDate() - 1); // Previous day
        var tomorrowDate = new Date(currentDate);
        tomorrowDate.setDate(tomorrowDate.getDate() + 1); // Next day

        // Set the href attributes for yesterday and tomorrow buttons
        yesterdayButton.setAttribute("href", "/home/" + yesterdayDate.toISOString().slice(0, 10));

        var todayDate = new Date().toISOString().slice(0, 10);
        var oneDayBeforeToday = new Date();
        oneDayBeforeToday.setDate(oneDayBeforeToday.getDate() - 1);
        var oneDayBeforeTodayDate = oneDayBeforeToday.toISOString().slice(0, 10);
        if (currentDate === oneDayBeforeTodayDate) {
          tomorrowButton.style.display = "none";
        } else {
          tomorrowButton.setAttribute("href", "/home/" + tomorrowDate.toISOString().slice(0, 10));
        }

      });
    </script>
      
</body>
</html>
