<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='playerInfo.css') }}">
</head>
<body>
   <!-- {{ results }} -->
   <img src="{{ image }}" width = "200" height = "200">
   <a> {{ name }} </a>
   <div class seasonStats-table>
      <table> 
         <thead>
            <tr class="header">
               <th> Career Stats Per Season</th>
            </tr>
            <tr> 
               <th scope ="col"> Season</th>
               <th scope ="col"> Pos</th>
               <th scope ="col"> Team</th>
               <th scope ="col"> GP</th>
               <th scope ="col"> MPG</th>
               <th scope ="col"> FGM</th>
               <th scope ="col"> FGA</th>
               <th scope ="col"> FG%</th>
               <th scope ="col"> 3PM</th>
               <th scope ="col"> 3PA%</th>
               <th scope ="col"> 3P%</th>
               <th scope ="col"> FTM</th>
               <th scope ="col"> FTA</th>
               <th scope ="col"> FT%</th>
               <th scope ="col"> REB</th>
               <th scope ="col"> AST</th>
               <th scope ="col"> STL</th>
               <th scope ="col"> BLK</th>
               <th scope ="col"> TOV</th>
               <th scope ="col"> PTS</th>
            </tr>
         </thead>
         <tbody>
            {% for table, results in total_stats.items() %}
               {% for row in results %}
                  <tr>
                     <td>{{ table }}</td>
                     <td>{{ row[0] }}</td>
                     <td>{{ row[1] }}</td>
                     <td>{{ row[2] }}</td>
                     <td>{{ row[3] }}</td>
                     <td>{{ row[4] }}</td>
                     <td>{{ row[5] }}</td>
                     <td>{{ row[6] }}</td>
                     <td>{{ row[7] }}</td>
                     <td>{{ row[8] }}</td>
                     <td>{{ row[9] }}</td>
                     <td>{{ row[10] }}</td>
                     <td>{{ row[11] }}</td>
                     <td>{{ row[12] }}</td>
                     <td>{{ row[13] }}</td>
                     <td>{{ row[14] }}</td>
                     <td>{{ row[15] }}</td>
                     <td>{{ row[16] }}</td>
                     <td>{{ row[17] }}</td>
                     <td>{{ row[18] }}</td>
                  </tr>
               {% endfor %}
            {% endfor %}
         </tbody>
         <tfoot>
            <tr>
               <th scope="row" data-stat="Season">Career Totals</th>
               <th> </th>
               <th> </th>

               {% for sum in season_sums %}
                  <th>{{ sum }}</th>
               {% endfor %}
            </tr>
         </tfoot>
      </table>
   </div>
   <br> 
   <br>
   <br>
   <div class last5games_table>
      {% if five_games | length > 0 %}
      <table> 
         <thead>
            <tr class="header">
               <th> Last 5 Game Stats</th>
            </tr>
            <tr> 
               <th scope ="col"> Date</th>
               <th scope ="col"> Team</th>
               <th scope ="col"> @</th>
               <th scope ="col"> OPP</th>
               <th scope ="col"> Result</th>
               <th scope ="col"> MP</th>
               <th scope ="col"> FGM</th>
               <th scope ="col"> FGA</th>
               <th scope ="col"> FG%</th>
               <th scope ="col"> 3PM</th>
               <th scope ="col"> 3PA%</th>
               <th scope ="col"> 3P%</th>
               <th scope ="col"> FTM</th>
               <th scope ="col"> FTA</th>
               <th scope ="col"> FT%</th>
               <th scope ="col"> ORB</th>
               <th scope ="col"> DRB</th>
               <th scope ="col"> TRB</th>
               <th scope ="col"> AST</th>
               <th scope ="col"> STL</th>
               <th scope ="col"> BLK</th>
               <th scope ="col"> TOV</th>
               <th scope ="col"> PF</th>
               <th scope ="col"> PTS</th>
               <th scope ="col"> +/-</th>
            </tr>
         </thead>
         <tbody>
            {% for row in five_games %}
            <tr>
               <td>{{ row[0] }}</td>
               <td>{{ row[1] }}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3] }}</td>
               <td>{{ row[4] }}</td>
               <td>{{ row[5] }}</td>
               <td>{{ row[6] }}</td>
               <td>{{ row[7] }}</td>
               <td>{{ row[8] }}</td>
               <td>{{ row[9] }}</td>
               <td>{{ row[10] }}</td>
               <td>{{ row[11] }}</td>
               <td>{{ row[12] }}</td>
               <td>{{ row[13] }}</td>
               <td>{{ row[14] }}</td>
               <td>{{ row[15] }}</td>
               <td>{{ row[16] }}</td>
               <td>{{ row[17] }}</td>
               <td>{{ row[18] }}</td>
               <td>{{ row[19] }}</td>
               <td>{{ row[20] }}</td>
               <td>{{ row[21] }}</td>
               <td>{{ row[22] }}</td>
               <td>{{ row[23] }}</td>
               <td>{{ row[24] }}</td>
               <td>{{ row[25] }}</td>
            </tr>
            {% endfor %}
         </tbody>
         <tfoot>
            <tr>
               <th scope="row" data-stat="Season">Last 5 Average</th>
               <th> </th>
               <th> </th>
               <th> </th>
               <th> </th>

               {% for sum in last5_sums %}
                  <th>{{ sum }}</th>
               {% endfor %}
            </tr>
         </tfoot>
      </table>
      {% else %}
         <p>No game data available.</p>
      {% endif %}

   </div>

</body>
</html>